<!doctype html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8"/>
    <title>Изменение задачи</title>
    <link rel="stylesheet" href="/taskStyle.css"/>
</head>
<body>
<header>
    <div id="path_div">
        <a href="/"><button id="pathTask">Список задач</button></a>
        <a href="/usersList"><button id="pathUser">Список пользователей</button></a>
    </div>

    <div id="main_div">
        <form th:action="@{/updateTask/{taskHref}(taskHref=${task_url})}" method="post">
            <h3 id="name">Название: <input type="text" th:value="${task_name}" name="task_name" required></h3>

            <div id="change_div">
                <label id="statusLabel" for="userType">Сменить статус:</label>
                <select id="status" name="status" required>
                    <option th:each="statusElement : ${statusList}" th:value="${statusElement.name}" th:text="${statusElement.title}"></option>
                </select><br><br>

                <label id="userTypeLabel" for="userType">Сменить пользователя:</label>
                <select id="userType" name="userType" required>
                    <option value="default" selected>По умолчанию</option>
                    <option th:each="userElement : ${userMap}" th:value="${userElement.name}" th:text="${userElement.name}"></option>
                </select>
            </div>

            <h3 id="description">Описание:</h3>
            <div id="action">
                <h4><textarea th:placeholder="${task_description}" name="task_description" required></textarea></h4>
                <a href="/"><input type="button" value="Отмена" id="cancelButton"></a>
                <input type="submit" value="Сохранить" id="saveChanges">
            </div>
        </form>
    </div>
</header>
</body>
</html>