<!doctype html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8"/>
    <title>Задача</title>
    <link rel="stylesheet" href="/taskStyle.css"/>
</head>
<body>
<header>
    <div id="main_div">
        <h3 id="name">Название: <span th:text="${taskName}"></span></h3>
        <h3 id="description">Описание:</h3>
        <div id="action">
            <h4 th:text="${task}"></h4>
            <a  th:href="@{/changeTaskDescription(taskHref=${taskHref})}" ><button id="changeTaskDescription">Редактировать</button></a>
            <a href="/"><button id="menu">Меню</button></a>
        </div>
    </div>
</header>
</body>
</html>